.carousel-container {
    height: 120px;
}
.carousel-item-padding-20-px {
    margin: 0px 10px;
    width: 175px !important;
}
.category-item-btn {
    height: auto;
    width: 150px;
    padding:5px;
    border:none;
}
.category-item-btn:hover {
    color:rgb(204, 43, 94);
    transform: translateY(-0.3rem);
}
.item-subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}