.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table, th, td {
  border: 1px solid black;
}

.App {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr;
}