/* .payment-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px;
}

.payment-col-25 {
    flex: 25%;
}

.payment-col-50 {
    flex: 50%;
}

.payment-col-75 {
    flex: 75%;
}

.payment-col-25, .payment-col-50, .payment-col-75 {
    padding: 0 16px;
}

.payment-container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.payment-icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.payment-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.payment-btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .payment-row {
        flex-direction: column-reverse;
    }
    .payment-col-25 {
        margin-bottom: 20px;
    }
} */